body {
  text-align: center;
  font-size: 50px;
  color: #bbb;
}

.cursor {
  background-color: aqua;
}

.done {
  color: #bbb;
}

#typing {
  margin: 0 auto;
  width: 800px;
}

#stats {
  margin: 0 auto;
  width: 500;
}

.hidden {
  display: none;
}
